body {
  background-color: #b7b7b7;
  padding: 20px 30px;
}

.resume h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: lighter;
  color: white;
  font-size: 2em;
  width: 120px;
  padding: 70px 10px 10px 10px;
  margin-left: 20px;
  margin-top: 0;
  background-color: #35A6FF;
}

.main {
  width: 920px;
  margin: 0 auto;
  height: auto;
  background-color: #f1f1f1;
}
.top {
  margin: 0 auto 40px auto;
}
.base {
  width: 920px;
  margin: 0 auto;
}
.name{
  margin-left: 20px;
  width: 500px;
  padding: 10px;
}
.name th {
  color: #35A6FF;
  letter-spacing: -3px;
  font-size: 4.2em;
  font-family: Arial, sans-serif;
  text-align: left;
  margin: -10px auto;
  text-transform: uppercase;
}
.name td {
  letter-spacing: -2px;
  font-size: 1.8em;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
}
.contact {
  width: 400px;
  margin-top: 40px;
}
i {
  margin: 5px 10px;
  color: #35A6FF;
}
ul{
  padding: 0;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
  display: inline-block;
  list-style: none;
}

.left{
  width: 500px;
}

.right {
  width: 400px;
}

.right th {
  color: #35A6FF;
  font-size: 1.25em;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 30px 0px 40px 10px;
  text-align: left;
  width: 400px;
}
.right p{
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
}
.left table{
  margin: 60px auto;
}
.balance td {
  padding: 10px;
}
.balance h3 {
  color: #35A6FF;
  font-family: Helvetica, sans-serif;
  margin: 0 auto;
}
.year {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px 10px 20px 60px;
  width: 300px;
  vertical-align: top;

}
.info {
  width: 70%;
  vertical-align: top;
  padding: 10px;
}
.info h3 {
  color: #35A6FF;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
}
.info h4 {
  color: #000000;
  font-family: Helvetica, sans-serif;
  margin: 0 auto;
}
.info p {
  color: #000000;
  font-family: Helvetica, sans-serif;
  margin: 0 auto;
}
.skill {
  font-family: Helvetica, sans-serif;
  padding: 10px;
  width: 230px;
  vertical-align: top;
}
.progress {
  width: 230px;
  vertical-align: top;
  padding: 10px;
  margin-left: -50px;
}
table .left{
  margin-top: -80px;
}
.right table {
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}
tfoot{
  width: 920px;
  height: 30px;
  background-color: #35A6FF;
}
