body {
  display: block;
  background-color: #b7b7b7;
}
div {
  display: block;
  background-color: #f1f1f1;
  padding-top: 20px;
}
.resume {
  width: 100%
}
.resume h1 {
  font-size: 2.5em;
  width: 10%;
  background-color: #35A6FF;
}
.work {
  width: 50%;
  float: left;
}
.play {
  width: 50%;
  float: right;
}
